services:
  api:
    volumes:
      - type: bind
        source: ./librechat.yaml
        target: /app/librechat.yaml
    environment:
      - MONGO_URI=${MONGO_URI}

  mongodb:
    image: tianon/true
    command: ""
    entrypoint: ""
